* {margin:0;padding:0;border:0;}
body {font-family:'Helvetica Neue',Helvetica,'PingFang SC','Microsoft YaHei','微软雅黑',Arial,sans-serif;color:#333536;font-size:13px;text-align: center;background: url(https://yf-28.oss-cn-hongkong.aliyuncs.com/static-pc/bg-base.png);}
.bg-gray {background: #f5f7f8;}
.color-sub {color:#666869}
.code-item {display: block;margin:0 auto;color:#fff;font-weight: bold;font-size: 13px;
  background:radial-gradient(#ff8081,#ff383a);border-radius:50%;width:22px;height: 22px;line-height:22px;font-family: 'Times New Roman', 'Helvetica Neue', Helvetica}

.content-wrap {display: inline-block;padding:0 20px 20px;background-color: #fff;box-shadow: 0 4px 12px rgba(0,0,0,.10);margin:20px 0;border-radius: 4px;}
  
.header-title {position: relative;background-color: #fff;line-height: 54px;font-size: 16px;text-align: left;margin-bottom: 18px;border-bottom: 1px solid #f2f4f5;}
.header-title .select{position: absolute; right:0;top: 16px;height: 24px;;border:1px solid #e4e6e7;border-radius: 2px;}

.extend-item {display: block;margin:0 auto;color:#fff;font-size: 12px;
  background:radial-gradient(#fff,#eeeff1);border-radius:2px;width:22px;height: 22px;line-height:22px}
.extend-item.blue {background:radial-gradient(#868ec5,#696eb5)}
.extend-item.red {background:radial-gradient(#ff8081,#ff383a)}
.extend-item.yellow {background:radial-gradient(#f1d79f,#ffbf33)}
.extend-item.green {background:radial-gradient(#07c160,#07c160)}
.extend-item.pink {background:radial-gradient(#ff94d5,#ff1ea5)}
.extend-item.orange {background:radial-gradient(#ffc790,#ff8917)}

.br-dark,.br-dark th {border-right-color: #e4e6e7 !important;}
.bb-dark,.bb-dark th {border-bottom-color: #e4e6e7 !important;}

.table-wrap {border: 1px solid #ddd;overflow: hidden;border-radius: 2px;}
.table {margin:-1px;border-collapse:collapse;background: #fff;font-size: 13px;min-width:1200px;}
.table th, .table td {line-height: 25px;height: 28px;border: 1px solid #f2f4f5;text-align: center;font-weight: normal;vertical-align:middle;}
.table th {background-color:#f6f8f9;border-color: #e4e6e7;}

.keno-28 tr:last-child td {border-top-color: #e4e6e7;}
.keno-28 td:nth-child(1) {border-right-color: #e4e6e7;}
.keno-28 td:nth-child(2) {border-right-color: #e4e6e7;color:#666869}
.keno-28 td:nth-child(12) {border-right-color: #e4e6e7;}
.keno-28 td:nth-child(20) {border-right-color: #e4e6e7;}
.keno-28 td:nth-child(30) {border-right-color: #e4e6e7;}
.keno-28 td:nth-child(36) {border-right-color: #e4e6e7;}
.keno-28 td:nth-child(38) {border-right-color: #e4e6e7;}


.keno-16 tr:last-child td {border-top-color: #e4e6e7;}
.keno-16 td:nth-child(1) {border-right-color: #e4e6e7;}
.keno-16 td:nth-child(2) {border-right-color: #e4e6e7;color:#666869}
.keno-16 td:nth-child(7) {border-right-color: #e4e6e7;}
.keno-16 td:nth-child(13) {border-right-color: #e4e6e7;}
.keno-16 td:nth-child(18) {border-right-color: #e4e6e7;}
.keno-16 td:nth-child(24) {border-right-color: #e4e6e7;}
.keno-16 td:nth-child(26) {border-right-color: #e4e6e7;}

.keno-11 tr:last-child td {border-top-color: #e4e6e7;}
.keno-11 td:nth-child(1) {border-right-color: #e4e6e7;}
.keno-11 td:nth-child(2) {border-right-color: #e4e6e7;color:#666869}
.keno-11 td:nth-child(5) {border-right-color: #e4e6e7;}
.keno-11 td:nth-child(10) {border-right-color: #e4e6e7;}
.keno-11 td:nth-child(13) {border-right-color: #e4e6e7;}
.keno-11 td:nth-child(19) {border-right-color: #e4e6e7;}
.keno-11 td:nth-child(21) {border-right-color: #e4e6e7;}

/* .keno-16 .header-one th:nth-child(6) {border-right-color: #e4e6e7;}
.keno-16 .header-one th:nth-child(12) {border-right-color: #e4e6e7;}
.keno-16 .header-one th:nth-child(17) {border-right-color: #e4e6e7;}
.keno-16 .header-one th:nth-child(23) {border-right-color: #e4e6e7;}
.keno-16 .header-two th:nth-child(7) {border-right-color: #e4e6e7;}
.keno-16 .header-two th:nth-child(13) {border-right-color: #e4e6e7;}
.keno-16 .header-two th:nth-child(18) {border-right-color: #e4e6e7;} */